@import '../../../styles';

h2 {
  font-size: 28px;
  color: green;
}

h1{
  font-size: 30px;
}

ul > li > span {
  color: black;
}

#user-detail {
  width: 60%;
  padding: 4%;
  margin: 0 35%;
  text-align: center;
  @extend .form-group;
}
#user-profile-photo {
  background-image: url('../../img/user-img.jpg');
  width: 20%;
  height: 240px;
  border-radius: 50%;
  margin: 0 22%;
}

input {
 @extend .form-control;
}
