@import '../../styles.scss';

#navi{
  width: 100%;
  height: 960px;
  background: url("../img/login_logo2.jpg") center top no-repeat;
  margin: 0;
  padding: 0;
}

#sign-in-panel {
  @extend .form-group;
}

button {
  @extend .btn;
  @extend .btn-outline-primary;
  @extend .btn-lg;
  width: 100%;
  margin: 40% 0 0 0;
}
