<div class="products">

  <select class="form-control"
          [value]="pipeFilter"
          (input)="pipeFilter = $event.target.value">
    <option value="">--- Select ---</option>
    <option value="Техника">Техника</option>
    <option value="Мебель">Мебель</option>
    <option value="Игрушки">Игрушки</option>
  </select>

  <h2>New Product</h2>
  <form (submit)="addProduct()">
    <input type="text" name="name" [(ngModel)]="productName" placeholder="Product name"><br>
    <input type="text" name="description" [(ngModel)]="productDesc" placeholder="Product description"><br>
    <input type="text" name="price" [(ngModel)]="productPrice" placeholder="Price"><br>
    <input type="text" name="city" [(ngModel)]="productCity" placeholder="Your city"><br>
    <select name="category" id="selCat" [(ngModel)]="selCat">
      <option *ngFor="let catNumb of setCategory" value="{{catNumb}}" class="form-control"
              [value]="pipeFilter"
              (input)="pipeFilter = $event.target.value">
        {{catNumb}}
      </option>
    </select>
    <button type="submit">Add product</button>
  </form>

  <h2>Products</h2>
  <ul >
    <li *ngFor="let product of products | filterProducts: pipeFilter"   [routerLink]="['/dashboard', product.name]" [routerLinkActive]="['selected']" class="products-list">

    {{product?.name}}
    {{product?.description}} -- {{product?.category}}<br>
    {{product?.city}} -- {{product?.price}}<br>
    </li>
  </ul>
</div>

<div *ngIf="selectedProduct">
  <app-product-detail></app-product-detail>
</div>
