<div class="users">
  <div>
    <h1> Find user </h1>
    <input type="text" name="name" [(ngModel)]="filterText">
  </div>

  <h2>Users</h2>
  <ul>
    <li *ngFor="let user of users | filter: filterText"
<!--<<<<<<< HEAD-->
        <!--[routerLink]="['/dashboard/users', user.$key]"-->
        <!--[routerLinkActive]="['selected']" class="user-list">-->
      <!--Name: {{user.displayName}}; City: {{user.city}}-->
    <!--</li>-->

<!--=======-->
        [routerLink]="['/dashboard/', user.$key]"
        [routerLinkActive]="['selected']" class="user-list">
      Name: {{user.displayName}}
    </li>
  </ul>
</div>
