<nav>
  <a routerLink="/dashboard/welcome">
    <img src="https://www.umbrella-host.co.uk/wp/media/charity-web-hosting-283x300.png" id="logo">
  </a>

  <p class="nav-text">
    Give up for charity <br/>
    <span> Kind is art, be an artist! </span>
  </p>

  <div id="sign-out">
    {{currentUser?.email}}
    <button *ngIf="!currentUser" (click)="login()">Sign in</button>
    <button *ngIf="currentUser" (click)="logout()">Sign out</button>
  </div>
</nav>

<section id="user-list">
  <app-user-list></app-user-list>
</section>

<div id="child-outlet">
  <router-outlet></router-outlet>
</div>

<div id="footer">
  <article class="container">

    <blockquote>
      <strong>First of all</strong> be <em>kind</em> kindness disarms <strong>most </strong> people
    </blockquote>
    <b>Lacorder</b>

  </article>

</div>
