@import '../../styles.scss';
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);

@font-face {
  font-family: 'Sketch Block';
  src: url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.eot');
  src: url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.eot?#iefix') format('embedded-opentype'),
  url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.woff') format('woff'),
  url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.ttf') format('truetype'),
  url('http://tangledindesign.com/codepen/fonts/sketch_block-webfont.svg#SketchBlockBold') format('svg');
}

@font-face {
  font-family: 'Museo 700';
  src: url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.eot');
  src: url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.woff') format('woff'),
  url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.ttf') format('truetype'),
  url('http://tangledindesign.com/codepen/fonts/Museo700-Regular-webfont.svg#SketchBlockBold') format('svg');
}

@font-face {
  font-family: 'CallunaRegular';
  src: url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.eot');
  src: url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.woff') format('woff'),
  url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.ttf') format('truetype'),
  url('http://tangledindesign.com/codepen/fonts/Calluna-Regular-webfont.svg#CallunaRegular') format('svg');
}

#products-list {
  @extend .col-12;
  z-index: 1;
}

#user-list {
  @extend .col-8;
  z-index: 2;
}


nav {
  min-height: 220px;
  //background: #CEECF5;
  font-size: 24px;
  margin-bottom: 2%;
  background-image: url('../img/nav-bg.jpg');
}

button {
  @extend .btn;
  @extend .btn-primary;
}

form button {
  margin-top: 10px;
  width: 100%;
}

.nav-text {
  font-family: "Seaweed Script", sans-serif;
  color: #fff;
  width: 55%;
  font-size: 68px;
  float: left;
}

.nav-text span {
  margin-left: 13%;
}

#sign-out {
  float: right;
  font-family: 'Cardo', serif;
  font-size: 28px;
  font-style: italic;
}

#sign-out button {
  @extend .btn;
  @extend .btn-warning;
  background-color: sandybrown;
  color: white;
}

#logo {
  width: 15%;
  float: left;
  margin: 0 1%;
}

#footer {
  background: #333;
  min-height: 300px;
  width: 100%;
  color: #fff;
  margin-top: 15%;
}

.container {
  width: 590px;
  margin: 140px auto;
  position: relative;
}

blockquote {
  width: 565px;
  font: 28px CallunaRegular;
  letter-spacing: .075em;
  float: left;
  padding: 45px 0 30px 25px;
  border-top: 2px dotted #858585;
  border-bottom: 2px dotted #858585;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}

.container:before {
  content: "“";
  font-size: 10em;
  position: absolute;
  left: -100px;
  color: #666;
}

.container:after {
  content: "”";
  font-size: 10em;
  position: absolute;
  right: -100px;
  color: #666;
}

blockquote:first-line {
  font: 1.85em "Sketch Block";
  color: #fff79e;
}

blockquote:first-letter {
  font-size: 2.9em;
  text-transform: lowercase;
  float: left;
  line-height: .52em;
  margin-right: -18px;
  position: relative;
  z-index: 1;
}

blockquote strong:first-child {
  margin-left: 8px;
  letter-spacing: 0;
}

blockquote strong:last-child {
  font: 2em "Museo 700";
  text-transform: uppercase;
  letter-spacing: 0;
}

blockquote em {
  border-bottom: 2px dotted #858585;
}

blockquote + b {
  float: right;
  margin-top: 10px;
  font: 1.6em CallunaRegular;
  letter-spacing: .15em;
}

blockquote + b:first-letter {
  color: #fff79e;
  font-size: 1.3em;
  font-style: italic;
  letter-spacing: .25em;
}

@-moz-document url-prefix() {

  blockquote:first-letter {
    margin-top: -29px;
  }

}
